<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DAL.Properties.Settings.GPFAAssetsConnectionString"
      connectionString="Data Source=./;Initial Catalog=GPFAssetsV1;Persist Security Info=True;User ID=dbuser;Password=geAn9s#&gt;&gt;A"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.GPFAHRConnectionString" connectionString="Data Source=gpfemployeesdbserver.database.windows.net;Initial Catalog=EmployeesDatabase;Persist Security Info=True;User ID=EmployeesDBUser;Password=&quot;m=gvSL*$mp{E5t+4ApY&quot;"
      providerName="System.Data.SqlClient" />
    <add name="GPFAssetsEntities" connectionString="metadata=res://*/AssetsModel.csdl|res://*/AssetsModel.ssdl|res://*/AssetsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=./;initial catalog=GPFAssetsV1;user id=DBUSER;password=geAn9s#&gt;&gt;A;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GPFEmployeesEntities" connectionString="metadata=res://*/HRModel.csdl|res://*/HRModel.ssdl|res://*/HRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=./;initial catalog=GPFEmployees;user id=dbuser;password=geAn9s#&gt;&gt;A;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GPFAssetsV1Entities" connectionString="metadata=res://*/AssetsReportModel.csdl|res://*/AssetsReportModel.ssdl|res://*/AssetsReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=./;initial catalog=GPFAssetsV1;persist security info=True;user id=dbuser;password=geAn9s#&gt;&gt;A;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <DAL.Properties.Settings>
      <setting name="TempConn" serializeAs="String">
        <value>Data Source=./;Initial Catalog=GPFEmployees;Persist Security Info=True;User ID=dbuser;Password=geAn9s#&gt;&gt;A</value>
      </setting>
      <setting name="Live" serializeAs="String">
        <value>Data Source=gpfemployeesdbserver.database.windows.net;Initial Catalog=EmployeesDatabase;Persist Security Info=True;User ID=EmployeesDBUser;Password="m=gvSL*$mp{E5t+4ApY"</value>
      </setting>
      <setting name="AssetsLive" serializeAs="String">
        <value>Data Source=./;Initial Catalog=GPFAssetsV1;Persist Security Info=True;User ID=AssetUserDB;Password=kdb34rb!@301nja#1</value>
      </setting>
    </DAL.Properties.Settings>
  </applicationSettings>
</configuration>