
<footer>
    
        <div class="copyRightContainer">
            <div class="container">
                <div> © جهاز متابعة الاداء الحكومي 2022. جميع الحقوق محفوظة.</div>

            </div>
        </div>

     
</footer>